{% extends 'admin_layout.html' %} {% block content %}
<div class="row">
  <div class="col">
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Coupon</li>
      </ol>
    </nav>
    <hr>
  </div>
</div>

<div class="row bg-white mx-0">
  <div class="col">
    <div class="row">
      <div class="col">
        <h4>Add New Coupon:</h4>
        <hr >
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" placeholder="Coupon Code">
        <div class="row mt-3">
          <div class="col-2">
            <label for="toCustomer" class="col-form-label">To Customer :</label>
          </div>
          <div class="col">
            <input type="text" id="toCustomer">
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <label for="couponAmount" class="col-form-label">Coupon Amount :</label>
          </div>
          <div class="col">
            <input type="text" id="couponAmount">
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <label for="expiryDate" class="col-form-label">Coupon expiry date :</label>
          </div>
          <div class="col">
            <input type="date" id="expiryDate">
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-auto" style="margin-right:200px;">
            <button class="btn btn-lg btn-primary">Create</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row bg-white mx-0 mt-4">
  <div class="col">
    <div class="row">
      <div class="col">
        <h4>Coupon List:</h4>
        <hr >
      </div>
    </div>
  </div>
</div>
{% endblock %}
